<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv="Content-Type" >
  </head>
  <body>
    <h1>Hey <%= @user.username %> ! Congratulations ! You made it to App Academy</h1>
    <p>You are about to enter an intensive 12 week course, putting in 100 hours a week of coding, and will probably take away all aspects of your social life.</p>
    <p>Congratulations, you are about to change your life, and probably make your facebook friends wonder what in the world happened to you</p>
    <p>Study up, catch up on sleep, 'cause you ain't getting any here</p>
  </body>
</html>
